
<section>

  <div class="container" >
    
    <p class="text-center"> <strong>First, please select the customer in the list below</strong> </p>
    <%= form_for @interventions, url: interventions_save_url, html: {class: "nifty_form"} do |f| %>
                
      <div >
        <div class="row">
                     
          <div class="col-md-8" id="showcustomer" >
            <%= f.label :customer, "Customers:" %>
            <%= f.collection_select :customer_id, Customer.all, :id,:company_name,
              {:prompt => 'Select Customer'},
              {:onchange => "window.showbuilding()"} %>
          </div>

          <div class="col-md-8" id="showbuilding">
            <%= f.label :building, "Buildings:" %>
            <%= f.collection_select :building_id, Building.all, :id,:adm_contact_full_name,
              {:prompt => 'Select Building'},
              {:onchange => "window.showbattery()"} %>										
          </div><br>

          <div class="col-md-8" id="showbattery">
            <%= f.label :battery, "Baterries:" %>
            <%= f.collection_select :battery_id, Battery.all, :id,:id,
              {:prompt => 'Select Battery'},
              {:onchange => "window.showcolumn()"} %>
          </div>

          <div class="col-md-8" id="showcolumn">
            <%= f.label :column, "Columns:" %>
            <%= f.collection_select :column_id, Column.all, :id,:status,
              {:prompt => 'Select Column'},
              {:onchange => "window.showelevator()"} %>
          </div><br>

          <div class="col-md-8" id="showelevator">
            <%= f.label :elevator, "Elevators:" %>
            <%= f.collection_select :elevator_id, Elevator.all, :id, :status,
              {:prompt => 'Select Elevator'},
              {:onchange => ""} %>
          </div>

          <div class="col-md-8" id="showemployee">
            <%= f.label :employee, "Employees:" %>
            <%= f.collection_select :employee_id, Employee.all, :id, :last_name, 
              {:prompt => 'None'} %>
              
          </div>
          <div class="col-md-8" id='showdescription'>
            <label for="contact:subject">Project description : </label>
            <%= f.text_area(:reports, size: "30x5", placeholder: "REPORT")   %>
            
            
          </div>
          

          <br><br><br>


          


          <div class="col-md-8" id="showsubmitform">
            <%= f.submit 'Submit', :class => 'submit_intervention btn btn-primary' %>
          </div>
          


          
        </div>
      
      </div>
    <% end %>
  </div>
    
</section>

<script>

  window.addEventListener('load', function () {
    document.getElementById("showbuilding").style.display = "none"
    document.getElementById("showbattery").style.display = "none"
    document.getElementById("showcolumn").style.display = "none"
    document.getElementById("showelevator").style.display = "none"
      

    window.showbuilding = function(){
      document.getElementById("showbuilding").style.display = "block"
      document.getElementById("showbattery").style.display = "none"
      displaySubmitBtn()

      var c = document.getElementById("intervention_customer_id");
      var customerId = c.options[c.selectedIndex].value;

      if(!customerId) {
          document.getElementById("showbuilding").style.display = "none"
          document.getElementById("showbattery").style.display = "none"
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"custormerid":customerId}

      $.ajax({
        type: "POST",
        url: "/interventions/getbuildings",
        data: param,
        success: function(xht){
          var selector = document.getElementById("intervention_building_id")
          $(selector).html('<option value="-1">Select building</option>')
          $(selector).append($.map(xht, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.adm_contact_full_name});
          }));
        }
      });
          

    }
    window.showbattery = function(){
      document.getElementById("showbattery").style.display = "block"
      displaySubmitBtn()
      
      var b = document.getElementById("intervention_building_id");
      var buildingId = b.options[b.selectedIndex].id;

        if(!buildingId) {
          document.getElementById("showbattery").style.display = "none"
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"buildingid":buildingId}
      displaySubmitBtn()
      $.ajax({
        type: "POST",
        url: "/interventions/getbatteries",
        data: param,
        success: function(bat){
          var take = document.getElementById("intervention_battery_id")
          $(take).html('<option value="-1">Select battery</option>')
          $(take).append($.map(bat, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.status});
          }));
        }
      });
          

    }

    window.showcolumn = function(){
      document.getElementById("showcolumn").style.display = "block"
      
      var col = document.getElementById("intervention_battery_id");
      var batteryId = col.options[col.selectedIndex].id;
      displaySubmitBtn()

      if(!batteryId) {
          document.getElementById("showcolumn").style.display = "none"
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"batteryid":batteryId}
      $.ajax({
        type: "POST",
        url: "/interventions/getcolumns",
        data: param,
        success: function(colu){
          var takecol = document.getElementById("intervention_column_id")
          $(takecol).html('<option value="-1">Select column</option>')
          $(takecol).append($.map(colu, function(item){
            return $('<option/>', {id: item.id, value: item.id, text: item.id+" - "+item.status});
          }));
        }
      });
          

    }
    window.showelevator = function(){
      document.getElementById("showelevator").style.display = "block"
      
      var el = document.getElementById("intervention_column_id");
      var columnId = el.options[el.selectedIndex].id;

      if(!columnId) {
          document.getElementById("showelevator").style.display = "none"
          return;
      }

      var param ={"columnid":columnId}
      $.ajax({
        type: "POST",
        url: "/interventions/getelevators",
        data: param,
        success: function(eleva){
          var takeelev = document.getElementById("intervention_elevator_id")
          $(takeelev).html('<option value="-1">Select elevator</option>')
          $(takeelev).append($.map(eleva, function(item){
            return $('<option/>', {id: item.id,value: item.id, text: item.id+" - "+item.status});
          }));

          
        }
      });
          
    }

    window.displaySubmitBtn = function() {
      var b = document.getElementById("intervention_building_id");
      var buildingId = b.options[b.selectedIndex].id;

      var c = document.getElementById("intervention_customer_id");
      var customerId = c.options[c.selectedIndex].value;

      var c = document.getElementById("intervention_battery_id");
      var batteryId = c.options[c.selectedIndex].value;


      var submitBtn = document.getElementsByClassName("submit_intervention");
      if(buildingId && buildingId != -1
        && customerId && customerId != -1
        && batteryId && batteryId != -1) {
        submitBtn[0].removeAttribute("disabled")
      } else {
        submitBtn[0].setAttribute("disabled","")
      }
        

          
    }

    window.displaySubmitBtn()

    



  })


</script>
